<h1>New dog</h1>

<% form_for([@person,@dog]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :breed %><br />
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  </p>
  <p>
    <%= f.label :date_of_death %><br />
    <%= f.text_field :date_of_death %>
  </p>
  <p>
    <%= f.label :weight_in_grams %><br />
    <%= f.text_field :weight_in_grams %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', person_dogs_path(@person) %>
